/* Wishlist.css */
  
  .login-button {
    text-align: center;
    margin: 32vh;
  }
  .no-tem {
    font-family: "Arial", sans-serif;
    font-size: 20px;
    color: #336699; /* Choose your desired text color */
    background-color: #f8f8f8; /* Choose your desired background color */
    padding: 15%; /* Adjust padding as needed */
    border-radius: 8px; /* Adjust border radius for rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    text-align: center; /* Center-align text */
  }
  
  
  .login-button button {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #007bff;
    border-radius: 5px;
    background-color: transparent;
    color: #007bff;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .login-button button:hover {
    background-color: #007bff;
    color: #fff;
  }
  